ExtForms/UniReps/api/ikar_ws_definitions_v1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://api.vetrf.ru/schema/cdm/ikar/ws-definitions" elementFormDefault="qualified" version="1.4" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bs="http://api.vetrf.ru/schema/cdm/base" xmlns:ikar="http://api.vetrf.ru/schema/cdm/ikar">
  <xs:import namespace="http://api.vetrf.ru/schema/cdm/base" schemaLocation="base_v1.4.xsd"/>
  <xs:import namespace="http://api.vetrf.ru/schema/cdm/ikar" schemaLocation="ikar_v1.4.xsd"/>
  <xs:element name="getAllCountryListRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения списка активных записей стран.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCountryListResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения актуального списка
                стран.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:countryList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список актуальных записей стран.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryByGuidRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения объекта страны по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:guid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор, по которому
                            проводится поиск записи.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryByGuidResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на получения объекта страны по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:country" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Найденный по guid-у объект страны.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryByUuidRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения объекта страны по
                идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:uuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>идентификатор, по которому
                            проводится поиск записи.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryByUuidResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на получения объекта страны по
                идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:country" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Найденный по uuid-у объект страны.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryChangesListRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение изменений в списке стран,
                начиная с указанной даты.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="bs:updateDateInterval" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Интервал времени обновления. В список попадают
                            все записи, дата обновлений которых попадает в указанный интервал.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryChangesListResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения изменений в списке
                стран.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:countryList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список стран, в не зависимости от статуса.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionListByCountryRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка регионов по стране.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:countryGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор страны, для которой
                            запрашивается список регионов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionListByCountryResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка регионов по
                стране.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:regionList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список регионов указанной страны в заданном
                            формате.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionByGuidRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения объекта региона по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:guid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор, по которому
                            проводится поиск записи.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionByGuidResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на получения объекта региона по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:region" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Найденный по guid-у объект региона.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionByUuidRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения объекта региона по
                идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:uuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Идентификатор, по которому
                            проводится поиск записи.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionByUuidResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на получения объекта региона по
                идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:region" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Найденный по uuid-у объект региона.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionChangesListRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение изменений в списке регионов,
                начиная с указанной даты.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="bs:updateDateInterval" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Интервал времени обновления. В список попадают
                            все записи, дата обновлений которых попадает в указанный интервал.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionChangesListResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения изменений в списке
                регионов.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:regionList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список регионов, в не зависимости от статуса.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictListByRegionRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка районов указанного
                региона.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:regionGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор региона, для которой
                            запрашивается список регионов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictListByRegionResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка районов
                региона.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:districtList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список районов указанного региона в заданном
                            формате.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictByGuidRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получения объекта района по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:guid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор, по которому
                            проводится поиск записи.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictByGuidResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос на получения объекта района по
                глобальному идентификатору.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:district" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Найденный по guid-у объект района.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictChangesListRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение изменений в списке районов,
                начиная с указанной даты.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="bs:updateDateInterval" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Интервал времени обновления. В список попадают
                            все записи, дата обновлений которых попадает в указанный интервал.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictChangesListResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения изменений в списке
                районов.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:districtList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список районов, в не зависимости от статуса
                            объекта.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByRegionRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка населенных пунктов по региону.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:regionGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор региона, для которой
                            запрашивается список населенных пунктов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByRegionResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка населенных пунктов по
                региону.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:localityList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список населенных пунктов указанного региона.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByDistrictRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка населенных пунктов по району.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:districtGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор районы, для которой
                            запрашивается список населенных пунктов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByDistrictResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка населенных пунктов по
                району.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:localityList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список населенных пунктов указанного района.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByLocalityRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка зависимых населенных пунктов по
                населенному пункту.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:localityGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор населенного пункта, для которой
                            запрашивается список зависимых населенных пунктов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalityListByLocalityResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка зависимых населенных пунктов по
                населенному пункту.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:localityList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список завимиых населенных пунктов указанного населенного пункта.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStreetListByLocalityRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка улиц по
                населенному пункту.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:localityGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор населенного пункта, для которой
                            запрашивается список улиц.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStreetListByLocalityResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка улиц по
                населенному пункту.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:streetList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список улиц указанного населенного пункта.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLocalityListByNameRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка населенных пунктов по шаблону и родителю(региону).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:regionGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор региона, для которой
                            запрашивается список населенных пунктов.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pattern" type="string" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Шаблон для поиска в именах населенных пунктов.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLocalityListByNameResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка населенных пунктов по
                региону.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:localityList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список населенных пунктов указанного региона.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findStreetListByNameRequest">
    <xs:annotation>
      <xs:documentation>Запрос на получение списка улиц по шаблону и родителю(населенному пункту).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bs:listOptions" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Параметры запрашиваемого списка.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ikar:localityGuid" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Глобальный идентификатор населенного пункта, для которой
                            запрашивается список улиц.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pattern" type="string" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Шаблон для поиска в именах улиц.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findStreetListByNameResponse">
    <xs:annotation>
      <xs:documentation>Ответ на запрос получения списка улиц по населенному пункту.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ikar:streetList" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Список улиц указанного населенного пункта.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>